.site-brand-container {
  background: hexo-config('header_image') ? url(hexo-config('header_image')) : var(--theme-color);
  background-size: cover;
  border-top-left-radius: 8px
  border-top-right-radius: 8px

  +tablet-mobile() {
    border-top-left-radius: initial;
    border-top-right-radius: initial;
  }

  .site-nav-on & {
    +tablet-mobile() {
      box-shadow: 0 0 16px rgba(0, 0, 0, .5);
    }
  }
}

.site-meta {
  padding: 20px 0;
}

.brand {
  padding: 0;
}

.site-subtitle {
  margin: 10px 10px 0;
}

.site-nav-toggle, .site-nav-right {
  +tablet() {
    flex-column();
  }

  .toggle {
    color: white;

    .toggle-line {
      background: white;
    }
  }
}

.header {
  margin-top: 12px;
  +tablet-mobile() {
    margin-top: initial;
  }
}

.site-state-wrap {
  display: none;
}